<!-- TODO: replace with cancan ability for only user roles with permission -->
<% if current_user %>
  <div class="row text-center">
    <ul id="employee-subnav" class="nav nav-pills">
        <li role="presentation">
          <%= link_to 'Add clients', new_campaign_path, class: 'btn btn-default' %>
        </li>
        <li role="presentation">
          <%= link_to 'Current Leads', campaigns_path, class: 'btn btn-default' %>
        </li>
        <li role="presentation">
          <%= link_to 'Company Portal', companies_path, class: 'btn btn-default' %>
        </li>
    </ul>
  </div>
<% end %>