<ul id="employee-subnav" class="nav nav-pills">
  <li role="presentation"><a class="btn btn-default">Add a Lead</a></li>
  <li role="presentation"><a class="btn btn-default" href="#">Leads</a></li>
  <li role="presentation"><a class="btn btn-default" href="#">Clients</a></li>
</ul>

  
